/* font */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap');

* {
  font-family: 'Nunito', 'Segoe UI', sans-serif;
}

.bg-light-blue{
  background-color: #2980b9;
}

.jumbotron{
  padding-top: 7rem;
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

#projects{
  background-color: #e2edff;
}

.inner-img {
  overflow: hidden;
}

.inner-img img {
  transition: .8s;
}

.inner-img img:hover {
  transform: scale(1.15);
}

.card {
  transition: .3s;
}

.card:hover {
  transform: translateY(-2px);
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.5);
}